h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	margin-bottom: 0;
}

ul, ol {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}

img{
   display: block;
}

.visually-hidden{
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow:hidden;
}

button{
   cursor: pointer;
   wid
}

/*  Container */

.container{ 
   width: 100%;
   max-width: 1158px;
   margin: 0 auto;
   padding-left: 15px;
   padding-right: 15px;
   align-items: center;
   justify-content: space-between;
   }

a{
   text-decoration: none;  
}

/* Body */

.main-block{
   font-family: 'Roboto', sans-serif;
   color: #434455;
   background-color: #FFFFFF;
}

/* Header */

.header-page{
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-direction: row;
   border-bottom: 1px solid #e7e9fc;
   width: 1440px;
   height: 72px;
   flex-shrink: 0;
   box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-nav{
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-direction: row;
}

.main-head{
   display: flex;
}

.menu-list{
   list-style-type: none;
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 40px;
   padding: 0;
   margin: 0;
}


/* Webstudio-logo */


.link-logo{
   color: #4d5ae5;
   font-size: 18px;
   font-style: normal;
   font-weight: 700;
   line-height: 1.17;
   /* 116.667% */
   letter-spacing: 0.54px;
   text-transform: uppercase;
   font-family: "Raleway", sans-serif;
   text-decoration: none;
   display: inline-flex;
   align-self: center;
   padding: 0;
   margin-right: 76px;
   position: relative;

}

.web-logo{
   color: #2e2f42;
}

.link-logo:hover,
.link-logo:focus{
   color: #404bbf;
}

.web-logo:hover,
.web-logo:focus{
   color: #404BBF;
}


.menu-list:last-child{
   margin-right: 0;
}

.navigation{
   color: #2E2F42;
   font-size: 16px;
   font-weight: 500;
   line-height: 1.5;
   letter-spacing: 0.02em;
   text-decoration: none;
   padding: 24px 0 24px 0;
   display: block;
   position: relative;
   transition: color;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation:hover, 
.navigation:focus{
   color: #404BBF;
}

.nav-hover{
   color: #404bbf;
}

.nav-hover::after {
   color: #404BBF;
   position: absolute;
   left: 0;
   bottom: -1px;
   content: "";
   width: 100%;
   height: 4px;
   border-radius: 2px;
   background-color: #404BBF;
   transition: background-color;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-hover:hover::after,
.nav-hover:focus::after {
   background-color: #404BBF;
}

/* address */

.information{
   display: flex;
   color: #434455;
   letter-spacing: 0.02em;
   font-style: normal;
   line-height: 1.5;
   align-items: center;
   justify-content: space-between;
}

.address-block{
   list-style-type: none;
   display: flex;
   gap: 40px;
   margin-right: 40px;
   flex-direction: row;
}

.address-block:last-child{
   margin-right: 0;
}

.contacts{
   letter-spacing: 0.02em;
   list-style: none;
   font-size: 16px;
   line-height: 1.5;
   color: #434455;
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



/* Hero section */

.hero-div{
   background-color: #2E2F42;
   font-size: 56px;
   line-height: 1.07;
   letter-spacing: 0.02em;
   color: #FFFFFF;
   padding-top: 188px;
   padding-bottom: 188px;
   background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg.jpg);
   max-width: 1440px;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   flex-shrink: 0;
   
}

.hero-title{
   font-family: Roboto;
   font-weight: bold;
   letter-spacing: 0.02em;
   text-align: center;
   font-size: 56px;
   line-height: 1.07;
   width: 100%;
   max-width: 496px;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 48px;

}

.orders{
   display: block;
   background-color: #4D5AE5;
   font-weight: 500;
   font-size: 16px;
   line-height: 24px;
   cursor: pointer;
   font-family: "Roboto", sans-serif;
   letter-spacing: 0.04em;
   color: #FFFFFF;
   width: 100%;
   max-width: 169px;
   min-width: 169px;
   height: 56px;
   border: none;
   border-radius: 4px;
   margin-left: auto;
   margin-right: auto;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Our Plan Section */

.plan-block{
   padding-top: 120px;
   padding-bottom: 120px;
   width: 1440px;
}

.our-plan-block{
   display: flex;
   list-style-type: none;
   gap: 24px;
   flex-basis: calc((100% - 72px) / 4);
}

.plan-list{
   gap: 24px;
   width: calc((100% - 72px) / 4);
}

.plan-svg{
   display:flex;
   justify-content:center;
   align-items:center;
   border-radius:50%;
   height: 112px;
   background-color: #f4f4fd;
   border-radius: 4px;
   margin-bottom: 8px;
   border: 1px solid var(--LIGHT-SLATE, #8E8F99);
   background: #F4F4FD;

}

.our-plan-block:first-child{
   flex-basis: calc((100% - 3 * 24px) / 4);
}

.plan-list:last-child{
   margin-right: 0;
}


/* Our Team Section */

.team-block{
   background-color: #F4F4FD;
   line-height: 1.11;
   letter-spacing: 0.02em;
   text-transform: capitalize;
   color: #2e2f42;
   padding-top: 120px;
   padding-bottom: 120px;
   width: 1440px;
   height: 780px;
   flex-shrink: 0;
}

.third-section-title{
   font-family: Roboto;
   font-size: 36px;
   line-height: 1.11;
   letter-spacing: 0.02em;
   text-transform: capitalize;
   color:#2E2F42;
   text-align: center;
   margin-bottom: 72px;
}

.our-team-block{
   display: flex;
   gap: 24px;
   list-style-type: none;
}

.team-container{
   padding: 32px 0;
}

.third-text{
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #434455;
   text-align: center;
}

.team{
   background-color: #FFFFFF;
   flex-basis: calc((100% - 72px) / 4);
   border-radius: 0px 0px 4px 4px;
   box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.container-team{
   padding: 32px 0;
}

.our-team-block:first-child{
   border-radius: 0px 0px 4px 4px;

}

.social-icon{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 24px;
   text-decoration: none;
   list-style-type: none;
}

.social-icon-container{
   display: flex;
   align-items: baseline;
   width: 100%;
   height: 100%;
}

.footer-container{
   display: flex;
   align-items: baseline;
}

.team-svg{
   width: 40px;
   height: 40px;
}

.team-link{
   width: 100%;
   height: 100%;
   background-color: #4d5ae5;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   ;
   margin-left: auto;
   margin-right: auto;
   margin-top: 12px;
   margin-bottom: 12px;
}

.team-link:hover,
.team-link:focus{
   background-color: #404bbf;
}


/* Our Portfolio block */

.portfolio-block{
   padding-top: 120px;
   padding-bottom: 120px;
   width: 1440px;
}

.fourth-section-title{
   font-size: 36px;
   line-height: 1.11;
   letter-spacing: 0.02em;
   text-transform: capitalize;
   color: #2E2F42;
   text-align: center;
   margin-bottom: 72px;
}

.goals-block{
   display: flex;
   column-gap: 24px;
   row-gap: 48px;
   margin: 0;
   padding: 0;
   flex-wrap: wrap; 
   list-style-type: none;
}

.goals-list{
   width: calc((100% - 48px) / 3);
   border: 1px solid var(--cornflower, #E7E9FC);
   transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.goals-list:hover p {
   transform: translateY(0%);
}

.goals-list:hover{
   box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}


.item-container{
   position: relative;
   overflow: hidden;
}

.container-paragraf {
   padding: 32px 16px;
   border: 1px solid #e7e9fc;
   border-top: none;
}

.paragraf-overflow{
   color:#F4F4FD;
   font-family: Roboto;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 1.5;
   letter-spacing: 0.02em;
   position: absolute;
   top: 0;
   width: 100%;
   height: 100%;
   background-color: #4D5AE5;
   transition-property: transform;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
   padding: 40px 32px;
   transform: translateY(100%);
}

.p-text{
   color: #434455;
   font-family: Roboto;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 1.5;
   letter-spacing: 0.02em;
}

.deskr{
color:#434455;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
padding: 0;
margin: 0;
width: 264px;
}

/* Footer block */

.basement{
   background-color: #2E2F42;
   width: 1440px;
   height: 312px;
}

.footer-logo{
   display: inline-block;
   margin-bottom: 16px;
   color: #4D5AE5;
   font-size: 18px;
   font-style: normal;
   font-weight: 700;
   line-height: 1.17;
   /* 116.667% */
   letter-spacing: 0.54px;
   text-transform: uppercase;
   font-family: "Raleway", sans-serif;
   text-decoration: none;
   padding: 0;
}

.link-footer{
   display: block;
   justify-content: center;
   align-items: flex-start;
   margin-right: auto;
   padding-top: 100px;
}

.footer-list{
   list-style-type: none;
}

.basement-studio{
   line-height: 1.17;
   font-weight: bold;
   color: #F4F4FD;
}

.basement-text{
   color:#F4F4FD;
   font-family: Roboto;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 1.5;
   letter-spacing: 0.32px;
   max-width: 264px;
}


.deskription-link-footer {
      color: #FFFFFF;
      font-family: Roboto;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 1.5;
      letter-spacing: 0.02em;
      margin-bottom: 16px;
}


.text-footer{
   max-width: 264px
}

.link-style:hover,
.link-style:focus{
   color:  #404bbf;
}

.contacts:hover, 
.contacts:focus{
   color: #404bbf;
}

.orders:hover, 
.orders:focus{
   background-color: #404BBF;
}

.studio{
   color: #F4F4FD;
}

.container-logo-footer {
   display: block;
   margin-right: 120px;
}

.social-icon-footer {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 16px;
   text-decoration: none;
   list-style-type: none;
}

.team-link-footer{
   width: 100%;
   height: 100%;
   background-color: #4d5ae5;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   ;
}

.team-link-footer:hover,
.team-link-footer:focus {
   background-color: #31d0aa;
}

.container-footer-form {
   display: block;
   padding-left: 80px;
   max-width: 453px;
   flex-direction: column;
}

.container-footer-btn {
   display: flex;
   gap: 24px;
   align-items: center;
}

.footer-button-send {
   color: var(--WHITE, #FFF);
   text-align: center;
   font-family: "Roboto", sans-serif;
   font-size: 16px;
   font-style: normal;
   font-weight: 500;
   line-height: 1.5;
   letter-spacing: 0.04em;
   display: flex;
   padding: 8px 24px;
   justify-content: center;
   align-items: center;
   border-radius: 4px;
   background-color: var(--IRIS, #4D5AE5);
   fill: var(--WHITE, #FFF);
   min-width: 165px;
   height: 40px;
   cursor: pointer;
   border: none;
}

.icon-footer-button {
   margin-left: 16px;
}

.title-footer-form {
   color: var(--WHITE, #FFF);
   margin-bottom: 16px;
   font-family: Roboto;
   font-size: 16px;
   font-style: normal;
   font-weight: 500;
   line-height: 1.5;
   letter-spacing: 0.02em;
}

.title-footer-input {
   padding-left: 16px;
   font-size: 12px;
   line-height: 1.5;
   letter-spacing: 0.04em;
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
   width: 264px;
   color: var(--white, #ffffff);
   height: 40px;
   background-color: transparent;
   border-radius: 4px;
   border: 1px solid var(--WHITE, #FFF);
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

input::placeholder {
   color: var(--WHITE, #FFF);
   font-family: Roboto;
   font-size: 12px;
   font-style: normal;
   font-weight: 400;
   line-height: 2;
   letter-spacing: 0.04em;
}


/* Backdrop */

.backdrop {
      opacity: 1;
      background-color: rgba(46, 47, 66, 0.4);
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-block {
   border-radius: 4px;
   background: #FCFCFC;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 408px;
   min-height: 584px;
   box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 2px 1px rgba(0, 0, 0, 0.2);
   ;
   padding: 72px 24px 24px 24px;
   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btm {
   outline: none;
   border-radius: 50%;
   border: 1px solid rgba(0, 0, 0, 0.1);
   padding: 0;
   cursor: pointer;
   position: absolute;
   top: 24px;
   right: 24px;
   width: 24px;
   height: 24px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #E7E9FC;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
   background-color: #404BBF;
   border: none;
}

.modal-close-btn:hover .icon-close,
.modal-close-btn:focus .icon-close {
   fill: #ffffff;
}
.close-icon {
   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.title-text {
   color:#2E2F42;
   font-family: Roboto;
   font-size: 16px;
   font-style: normal;
   font-weight: 500;
   line-height: 1.5;
   color: #2E2F42;
   text-align: center;
   letter-spacing: 0.02em;
   margin-bottom: 16px;
}
.form-block {
   display: flex;
   flex-direction: column;
}
.modal-container {
   margin-bottom: 8px;
}
.user-name {
   color: #8E8F99;
   font-family: Roboto;
   font-size: 12px;
   font-style: normal;
   font-weight: 400;
   line-height: 1.17;
   letter-spacing: 0.04em;
   display: block;
   margin-bottom: 4px;
}
.modal-name {
   display: flex;
   flex-direction: column;
   position: relative;
}
.input-descr {
   height: 40px;
   border-radius: 4px;
   border: 1px solid rgba(46, 47, 66, 0.40);
   width: 100%;
   background-color: transparent;
   padding-left: 38px;
   outline: transparent;
   transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input:focus {
   border-color: #4D5AE5;
}
.modal-svg {
   fill: #2E2F42;
   position: absolute;
   top: 50%;
   left: 16px;
   transform: translateY(-50%);
   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input:focus+svg {
   fill: #4D5AE5;
}

.textarea-user-name {
   margin-bottom: 16px;
}
.textarea {
   font-size: 12px;
   letter-spacing: 0.04em;
   line-height: 1.17;
   color: rgba(46, 47, 66, 0.4);
   width: 100%;
   height: 120px;
   resize: none;
   border-radius: 4px;
   border: 1px solid rgba(46, 47, 66, 0.40);
   background-color: transparent;
   padding: 8px 16px;
   outline: transparent;
   transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea:focus {
   border-color: #4D5AE5;
}

.checkbox-block {
   margin-bottom: 24px;
   display: flex;
   column-gap: 8px;
}

.label-checkbox {
   color:  #8E8F99;
}
.span-checkbox {
   display: inline-flex;
   justify-content: center;
   align-items: center;
   fill: transparent;
   height: 16px;
   width: 16px;
   border: 1px solid rgba(46, 47, 66, 0.4);
   border-radius: 2px;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-checkbox:checked+.label-checkbox>.span-checkbox {
   border: none;
   fill: #F4F4FD;
   background-color: #404bbf;
}
.castom-checkbox {
}
.link-user-privacy {
   color: #4d5ae5;
}
.modal-btn {
   display: block;
   padding: 16px 32px;
   color: #FFF;
   text-align: center;
   letter-spacing: 0.64px;
   border-radius: 4px;
   background:#4D5AE5;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
   margin-left: auto;
   margin-right: auto;
   min-width: 169px;
   height: 56px;
   cursor: pointer;
   border: none;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


/* Text */

.headtext{
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   color: #2E2F42;
   list-style-type: none;
   margin-bottom: 8px;
}

.third-title{
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   color: #2E2F42;
   list-style-type: none;
   margin-bottom: 8px;
   text-align: center;
}



.team-icons{
   fill: #f4f4fd;
   
}